// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_box{
  
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 10%;
  box-shadow: 10px 10px 5px grey;
  font-family: 'Neucha', cursive;

  label{
    font-size: 25px;
  }
  input{
  ont-size: 15px;
  }
}